/**
 * @provides font-gg-sans
 */

 @font-face{
    font-family:"gg-sans";
    font-style:normal;
    font-weight:400;
    font-display:block;
    src:url(/rsrc/externals/font/ggsans/gg_sans_normal400.woff2);
    src:url(/rsrc/externals/font/ggsans/gg_sans_normal400.woff2) format("woff2");
  }

  @font-face{
    font-family:"gg-sans";
    font-style:italic;
    font-weight:400;
    font-display:block;
    src:url(/rsrc/externals/font/ggsans/gg_sans_italic400.woff2);
    src:url(/rsrc/externals/font/ggsans/gg_sans_italic400.woff2) format("woff2");
  }

  @font-face{
    font-family:"gg-sans";
    font-style:normal;
    font-weight:500;
    font-display:block;
    src:url(/rsrc/externals/font/ggsans/gg_sans_normal500.woff2);
    src:url(/rsrc/externals/font/ggsans/gg_sans_normal500.woff2) format("woff2");
  }

  @font-face{
    font-family:"gg-sans";
    font-style:italic;
    font-weight:500;
    font-display:block;
    src:url(/rsrc/externals/font/ggsans/gg_sans_italic500.woff2);
    src:url(/rsrc/externals/font/ggsans/gg_sans_italic500.woff2) format("woff2");
  }

  @font-face{
    font-family:"gg-sans";
    font-style:normal;
    font-weight:600;
    font-display:block;
    src:url(/rsrc/externals/font/ggsans/gg_sans_normal600.woff2);
    src:url(/rsrc/externals/font/ggsans/gg_sans_normal600.woff2) format("woff2");
  }

  @font-face{
    font-family:"gg-sans";
    font-style:italic;
    font-weight:600;
    font-display:block;
    src:url(/rsrc/externals/font/ggsans/gg_sans_italic600.woff2);
    src:url(/rsrc/externals/font/ggsans/gg_sans_italic600.woff2) format("woff2");
  }

  @font-face{
    font-family:"gg-sans";
    font-style:normal;
    font-weight:700;
    font-display:block;
    src:url(/rsrc/externals/font/ggsans/gg_sans_normal700.woff2);
    src:url(/rsrc/externals/font/ggsans/gg_sans_normal700.woff2) format("woff2");
  }

  @font-face{
    font-family:"gg-sans";
    font-style:italic;
    font-weight:700;
    font-display:block;
    src:url(/rsrc/externals/font/ggsans/gg_sans_italic700.woff2);
    src:url(/rsrc/externals/font/ggsans/gg_sans_italic700.woff2) format("woff2");
  }

  @font-face{
    font-family:"gg-sans";
    font-style:normal;
    font-weight:800;
    font-display:block;
    src:url(/rsrc/externals/font/ggsans/gg_sans_normal800.woff2);
    src:url(/rsrc/externals/font/ggsans/gg_sans_normal800.woff2) format("woff2");
  }

  @font-face{
    font-family:"gg-sans";
    font-style:italic;
    font-weight:800;
    font-display:block;
    src:url(/rsrc/externals/font/ggsans/gg_sans_italic800.woff2);
    src:url(/rsrc/externals/font/ggsans/gg_sans_italic800.woff2) format("woff2");
  }
